<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <div class="container">
        <h1>Welcome to Hot Hash Games</h1>
        <br />
        <p>This is just a holding page for a bit. I am not much of a front-end developer, but I do plan on making <br/>
        a bit nicer when I get a chance! For the time being, here are a few games you can play around with!</p> <br />
        <a href="/FatCatSplat">Fat Cat Splat</a> <br />
        <a href="/LostInADungeon">Lost In A Dungeon</a> <br />
        <a href="/RollerBall">Roller Ball</a> <br />
    </div>


    <div th:replace="fragments/footer :: footer"/>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
</body>
</html>